# Ignore the output directory where compiled Java files are stored
/out/

# Ignore IDE-specific files (e.g., IntelliJ IDEA)
.idea/

# Ignore the file used for storing animal data
tiere.txt

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore any log files
*.log
